body{
    margin: 0;
    padding: 0;
/*    background: url("pictures/bg.jpeg");*/
    background-color: #ecfeea;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.center{
    text-align: center;
}

.login{
    width: 420px;
    height: auto;
    background:#459A73;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 40px;
    margin-top: 15px;
    display: inline-block;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
h2{
    padding: 1rem;
    color: #000;
    text-align: center;
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.error::placeholder{
    color: red;

}

.login input{
    width: 100%;
    margin-bottom: 10px;
}

.login input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #ff0066;
    font-size: 16px;
}
.login input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:#1C6E62;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background:#66b3ff;
    color: #000;
}
.login a{
    /*text-decoration: none;*/
    font-size: 14px;
    line-height: 20px;
    color:#fff;
    text-align: center;
}

.login a:hover
{
    color: #66b3ff;
}
.parent {
  /*background:#66b3ff;*/
  padding: 1rem;
  text-align: center;
}
.mentor{
    width:200px; 
    height:200px;
    display: inline-block;
    border: 1px solid #00994d;
    padding: 1rem;
    background-color:#459A73;
}
.more{
    border-radius: 10px;
    background-color: #00994d;
    width: 100px;
    color: #fff;
    font-size: 14px;
}
.mentor img{
    padding: 0 30px 0 30px;
    /*margin: 0 auto;*/
}
.mentor a{
    color: #fff;
}
.user{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.view img{
    padding: 0 30px 0 30px;
}
.view{
    width: 500px;
    height: auto;
    border: 1px solid #00994d;
    /*top: 50%;
    left: 50%;*/
    margin: 30px auto 30px auto;
    /*margin-top: -50px;
    margin-left: -50px;*/
    background-color:#459A73; 
    padding: 5px;
    border-radius: 30px;

}
.review{
    font-style: italic;
    font-size: 14px;
}
.view input[type='submit']{
    height: 20px;
    width: 100px;
    background-color: #00994d;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
}
.view textarea {
    position: relative; 
    margin-bottom: 10px;
    width:100%;
    height: 10%;
}
.Dashboard{
    width: auto;
    height: 70px;
    background-color:#459A73;  
    color: #fff;
    font-size: 30px;
    display: flex;
    padding: 1rem;
}
.book_session button{
/*  float: right;*/ 
    background-color: #00994d;
    border-radius: 10px;
    height: 40px;
    color: #fff;
}
.Dashboard .logOut{
    float: right;
    background-color: #800b71;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    width: 120px;
    border: none;
    color: #fff;
    font-size: 18px;
}
.Dashboard p{
    width: 100%;
    text-align: center;

}
.Dashboard .back{
    float: left;
    background-color: #800b71;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    width: 120px;
    border: none;
    color: #fff;
    font-size: 18px;
}
p {
    color: #fff;
    }
h4 {
    color: #fff;
    text-align: center;
}
.mentor .upgrade{
/*    margin-top: 5px;
*/  height:30px; 
    width:100px; 
/*    margin: -20px -50px; 
*/  position:relative; 
    background-color: #BF360C;
    border-radius: 20px;
    margin-bottom: 10px;
    border: none;
    color: #fff;
}
.mentor .accept {
    background-color: #4CAF50;
    border-radius: 20px;
    border: none;
    color: #fff;
}
.mentor .decline{
    background-color: #BF360C;
    border-radius: 20px;
    border: none;
    color: #fff;
    margin-left: 85px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #459A73;
   color: #fff;
   text-align: center;
}